/* Your custom css code goes here */

h1, h2, .heading-with-icon, h3, h4 {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Merriweather', serif;
    color: #000000;
  }
.blog-category {
    padding: 10px 0px;
    height: 500px;
}
.blog-category-inner {
  max-height: 380px;
}
.blog-category-title {
  height: 80px;
}